@import url('./__avatar/about__avatar.css');
@import url('./__text-container/about__text-container.css');


.about {
  margin: 32px auto 0px;
  max-width: 288px;
}

@media screen and (min-width: 704px) {
  .about {
    display: flex;
    max-width: 688px;
  }
}

@media screen and (min-width: 1240px) {
  .about {
    min-width: 1120px;
    max-width: 1440px;
    margin-top: 80px;
    margin-left: 144px;
  }
}