.search__begin {
  height: 64px;
  background-color: #2f71e5;
  border: none;
  margin: 16px 0 0;
  box-shadow: 0 5px 15px rgba(14,26,57,.2);
  border-radius: 100px;
  font-size: 18px;
  line-height: 24px;
  width: 90%;
  min-width: 288px;
  color: #fff;
  box-sizing: border-box;
}

.search__begin:hover {
  background-color: #347EFF;
}

.search__begin:active {
  background-color: #2A65CC;
}