.popup__content {
  background-color: #fff;
  border-radius: 10px;
  position: relative;
  box-sizing: border-box;
  padding: 34px 36px;
  min-width: 320px;
}

@media screen and (min-width: 704px) {
  .popup__content {
    min-width: 430px;
  }
}
