@import url('./__photo/card__photo.css');
@import url('./__img/card__img.css');
@import url('./__buttons/card__buttons.css');
@import url('./__button/card__button.css');
@import url('./__date/card__date.css');
@import url('./__title/card__title.css');
@import url('./__text/card__text.css');
@import url('./__source/card__source.css');

.card {
  max-width: 256px;
  background: #fff;
  border-radius: 16px;
  cursor: pointer;
  display: flex;
  max-height: 100%;
  flex-direction: column;
  min-width: 288px;
  margin: 0 auto;
}